@media (max-width:768px)  {
    .market-background {
    
    }

    .hang-b{
        display: block;
        width: 50px;
        /* height: 20px; */
        position: absolute;
        right: 40px;
        bottom: 25px;
    }

    .dash{
        display: block;
        position: absolute;
        width: 50px;
        right: 40px;
        bottom:25px ;
    }

      
     .market-background{
         height: 120px;
         width: 100%;
     }

     .container-nav ul{
         display: block;
         background:#ffff;
         height:300px;
         width: 300px;
         position: absolute;
         right:90px;
         top: 130px;
         /* display: none; */
     }

     .container-nav ul li{
         font-size: 30px; 
         padding: 20px;
       
         
     }

     .top {
         background: none;

     }

     .rest:hover{
         background: none;
       }

       .bar:hover{
        background: none;
      }

      .story:hover{
        background: none;
      }

      
    .container-logo svg{
     width: 170px;
     height: 80px;
     margin-top: 10px;
    }

    .icons{
        margin-right: 90px;
        width: 170px;
        height: 80px;
    }

  /* nav-logo */
     

    .nav-logo{
        width:650px;
        height: 48px;
        font-size: 44px;
        font-family: Inter;
        margin-left: 40px;
        margin-top: 180px;
    }

    .container-navbar ul{
        margin-top: 180px;
        display: block;
        background: none;
    }

    .rate{
        width: 120%;
        height: 120px;
        background-color: #ffff;
        margin-left: 35px;
        border-radius: 999px;
       

    }

    .rate svg{
    width: 60px;
    height: 70px;
    padding-left: 20px;
    position: relative;
    left: 40px;
    }

    .rate select{
        font-size: 50px;
        height: 70px;
        width: 660px;
        margin-top: 30px;
        outline: none;

    }

    .rate select option{
        font-size: 12px;
    } 

    .saver{
        width: 120%;
        height: 120px;
        background-color: #ffff;
        margin-top: 30px;
        margin-left: 35px;
        border-radius: 999px;
    }

    
    .saver svg{
        width: 60px;
        height: 70px;
        padding-left: 20px;
        position: relative;
        left: 50px;
        }
    
    
    .saver select{
        font-size: 50px;
        height: 70px;
        width: 660px;
        margin-top: 30px;
        padding-left: 20px;
        outline: none;

    }

      .saver select option{
        font-size: 12px;
    }  




    .header{
        width: 120%;
        height: 120px;
        margin-left: 35px;
        margin-top: 40px;
    }

    .header a{
        font-size: 45px;
        color: #ffff;
    }


   /* Categories */

     .categories ul{
     padding-left:40px ;
     overflow-x: scroll;
     width: 850px;
     white-space: nowrap;
     margin-top: 600px;
    } 



    .all a {
      font-size: 60px;  
    }



    .vege a {
        font-size: 60px;
    
      }

      .vege a span svg{
          width: 50px;
          height: 50px ;
      }

      .spices a {
        font-size: 60px;  
      }


      .spices a span svg{
        width: 50px;
        height: 50px ;
      }


      .fruits a {
        font-size: 60px;  
      }



      .fruits a span svg{
        width: 50px;
        height: 50px ;
      }


      .tube a {
        font-size: 60px;  
      }



      .tube a span svg{
        width: 50px;
        height: 50px ;
     }


      .palm a {
        font-size: 60px;  
      }



      .palm a span svg{
        width: 50px;
        height: 50px ;
     }

  /* item */

    .item{
        width: 900px;
        margin: 0 30px;
        height:970px;
    }

    .items{
      padding: 20px;
    }

    .items svg{
        width: 900px;
        height: 560px;


    }

    .note{
        position: relative;
        bottom: 620px;
        width: 250px;
        height: 75px;
        font-size: 30px;
    }

    .note span svg{
        width: 40px;
        height: 40px;
        margin: px 0;
        position: relative;
        top: 5px;
        margin-left: 12px;
    }


    .root{
        font-size: 50px;
        padding-top: 40px;
        margin-left: 40px;
    }

    .masu{
        font-size: 40px;
        height: 90px;
    }

    .masu span svg{
      width: 150px;
      height: 30px;
      margin-left: 40px;

    }

    .mapo{
        font-size: 40px;
        padding: 40px;

    }




    #footer{
        width: 800px;
        background: none;
    }

    .footer-flex{
        display: block;
    }


     .api{
        margin-left: 40px;
        font-size: 60px;

    }


    .first-items li {
        margin-left: 50px;
        font-size: 40px;
        color: #8588A3;
    }



    .link{
        margin-left: 190px;
        margin-top: 90px;
        padding-bottom: 70px;      
        font-size: 40px;
    }
}