@media (max-width:768px)  {
    .market-background {
    
    }

    .hang-b{
        display: block;
        width: 50px;
        /* height: 20px; */
        position: absolute;
        right: 40px;
        bottom: 25px;
    }
      
     .market-background{
         height: 120px;
         width: 100%;
     }

     .container-nav ul{
         display: none;
     }

      
    .container-logo svg{
     width: 170px;
     height: 80px;
     margin-top: 10px;
    }

    .icons{
        margin-right: 90px;
        width: 170px;
        height: 80px;
    }

    .nav-logo{
     width: 750px;
     height: 58px;
     font-family: Inter;
     font-style: normal;
     font-size: 50px;
     font-weight: 400px;
     margin-left: 60px;
     margin-top: 200px;
    }

   
    .container-navbar ul{
        display: block;
        background: none;
    }

     .boom{
         margin-top: 190px;
     }

    .loop{
        background: #fff;
        width: 884px;
        height: 95px;
        text-align: center;
        padding-top: 15px;
        border-radius: 99px;
        margin-left: 30px;
        font-size: 40px;
        font-family:Inter ;
    }

    .loop svg{
        width: 40px ;
        height: 40px ;
        margin-right: 30px;
    }


    .loop select{
      margin-left: 30px;  
    }

    .soop{
        background: #fff;
        width: 884px;
        height: 95px;
        text-align: center;
        padding-bottom: 35px;
        margin-top: 60px;
        border-radius: 99px;
        margin-left: 30px;
        font-family: Inter;
        font-size: 40px;
        padding: 10px;
    }


    .soop svg{
        width:40px ;
        height: 40px;
        margin-right: 40px;
    }

    .soop select{
        margin-left: 30px;
    }

    .header-btn{
        width: 884px;
        height: 95px;
        margin-top: 140px;
        margin-left: 50px;
        font-size: 40px;
        font-family: Inter;
    }

    .categories ul{
     padding-left:40px ;
     overflow-x: scroll;
     width: 850px;
     white-space: nowrap;
     margin-top: 190px;
    }

    .all a {
      font-size: 60px;  
    }



    .vege a {
        font-size: 60px;
    
      }

      .vege a span svg{
          width: 50px;
          height: 50px ;
      }

      .spices a {
        font-size: 60px;  
      }


      .spices a span svg{
        width: 50px;
        height: 50px ;
      }


      .fruits a {
        font-size: 60px;  
      }



      .fruits a span svg{
        width: 50px;
        height: 5 ;
      }


      .tube a {
        font-size: 60px;  
      }



      .tube a span svg{
        width: 50px;
        height: 50px ;
     }


      .palm a {
        font-size: 60px;  
      }



      .palm a span svg{
        width: 50px;
        height: 50px ;
     }


    .item{
        width: 900px;
        margin: 0 30px;
        height:970px;
    }

    .items{
      padding: 20px;
    }

    .items svg{
        width: 900px;
        height: 560px;


    }

    .note{
        position: relative;
        bottom: 620px;
        width: 240px;
        height: 75px;
        font-size: 30px;
    }

    .note span svg{
        width: 40px;
        height: 35px;
    }


    .root{
        font-size: 50px;
        padding-top: 40px;
        margin-left: 40px;
    }

    .masu{
        font-size: 40px;
        height: 90px;
    }

    .masu span svg{
      width: 150px;
      height: 30px;
      margin-left: 40px;

    }

    .mapo{
        font-size: 40px;
        padding: 40px;

    }




    #footer{
        width: 800px;
        background: none;
    }

    .footer-flex{
        display: block;
    }


     .api{
        margin-left: 40px;
        font-size: 60px;

    }


    .first-items li {
        margin-left: 50px;
        font-size: 40px;
        color: #8588A3;
    }



    .link{
        margin-left: 190px;
        margin-top: 70px;
        padding-bottom: 30px;      
        font-size: 40px;
    }
}