@media (max-width: 768px) {
 .container-nav ul{
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        width: 210px;
        height: 200px;
        margin-top: 65px;
        margin-left: 370px;
        display:none ;
   }
        

   .market-background {
    background-color:#ffff;
    height: 120px;
    width: 100%;
   }


      

     /* .dash{
        position: absolute;
        left: 980px;
        bottom: 30px;
         display:block ;  
        font-size: 30px;
     }  */

/* 
    .hang-b{
      position: absolute;
      bottom: 30px;
      /* display: block; */
    } 
   
   /* .container-nav ul li{
       padding: 10px;
   } */

   .container-navbar ul {
       display: block;
        color: #8588A3; 
        background:none;
        margin-top: 30px;
   }

   .container-navbar ul li {
       text-align: center;
       font-size: 25px;

   }


    .header-btn{
        margin-left: 20px;
        width: 910px;
        height: 50px;
        font-size: 25px;
        margin-top: 98px;
    }

      .loop {
     background:#FFFFFF;
     width: 910px;
     height: 74px;
     border-radius: 99px;
     margin-top: 0px;
     padding: 20px;
    } 

    .loop select{
        margin-left:  30px;
    }

    .loop svg{
        font-size: 40px;
        
    }
      

    .soop {
        background:#FFFFFF;
        width: 910px;
        height: 74px;
        border-radius: 99px;
        margin-top: 50px;
        padding: 15px;
       }

       .soop select{
           margin-left: 30px;
       }

       .soop svg{
       
       
    }
       
       
       .repo svg{
        font-size: 90px;
    }


   .top{
       width: 210px;
       height: 45px;
       margin-top: 15px;
       
   }

   .foot{
    font-size: 25px;
    
}
       
   .icons{
    position: absolute;
    right: 70px;
    top: 10px;
   }

  .icons svg{
      width:70px ;
      height: 60px;
  }

   
  .container-logo{
      position: absolute;
      left: 20px;
      bottom: 50px;
  }


  .container-logo  svg{
      width: 70px;
      height: 70px;
  }


  
   .note{
       position: relative;
       bottom: 470px;
   }


   .item{
    width: 920px ;
}

  .footer h1{
    font-size: 35px;
  }

  
  .link{
    margin-left: 90px;
    font-size: 25px;
   
}

.foods{
    width: 100%;
    font-size: 20px;
    padding-top: 120px;
 }

   .rest{
       padding-top: 20px;
   }

   .rest:hover{
      color: #FF473E;
       width: 186px ;
       height: 36px ;
   }

   .nav-logo{
       font-size: 45px;
       margin:40px ;
       width: 720px;
       height: 160px;
       margin-top: 200px;
   }
   
    .container-nav svg{
        margin: 0 20px;
    }


    .span{
        display: block;
    }

    .items-rectangle{
        margin-left: 10px;
    }


    .footer-container{
        display: block;
    }

    .background-footer{
        background: none;
        margin-left: 10px;
    }

     .foods{
         margin-top: 450px;
         padding-right:82px;
     }

     .ipad span svg {
        width: 100%;
       }


  

 @media(max-width: 500px) {


    .container-nav ul{
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        width: 280px;
        height: 260px;
        margin-top: 65px;
        margin-left: 390px;
        display:none ;
   }


   .market-background {
    background-color:#ffff;
    height: 120px;
    width: 100%;
    
   }


   .loop{
       width: 860px;
       height: 130px;
       margin-top: 60px;
       font-size: 45px;
   }


   .loop select{
    width: 20px;

   }

   .soop{
    width: 860px;
    height: 130px;
    margin:160px 0px;
    font-size: 45px;

   }

   .soop select{
       width: 20px;
    
   }

   .soop svg{
    width: 35px;
    height: 30px; 
   }

   .header-btn{
    width: 860px;
     height: 130px;
     margin: 270px 20px;
     font-size: 40px;
   }

   .loop svg{
       font-size: 80px;
       width: 35px;
       height: 30px;
    
   }

   .vege  span svg{
       width: 60px;
       height: 50px;
   }

   .spices  span svg{
    width: 60px;
    height: 50px;
}

  .fruits  span svg{
    width: 60px;
    height: 50px;
}

   .tube  span svg{
    width: 60px;
    height: 50px;
}

   .palm  span svg{
    width: 60px;
    height: 50px;
}

   .container-navbar ul li {
       padding-right: 40px;
       margin: 10px 0;
   }

   .container-navbar ul{
       margin-right: 90px;
       
   }
  
    .item{
        width: 870px ;
    }

    .container-logo{
        position: absolute;
        bottom: 60px;
    }

    .container-logo svg{
       margin-left: 20px;
       margin-top: 10px;
       font-size: 50px;
       width: 80px;
       height: 75px;
    }

   .categories ul{
    padding-left: 15px;   
    overflow-x: scroll;
    width: 820px;
    white-space: nowrap;
  
   }


   .categories ul li a{
       font-size: 65px;
   }

   .nav-logo{
       margin-bottom: 70px;
       
   }


      .icons{
          position: absolute;
          right: 150px;
          bottom: 75px;
          font-size: 30px;
      }
     
     .icons svg{
       margin-right: 100px;
       margin-bottom:70px;
       width: 80px ;
       height: 60px;
     }


     .hang-b{
        position: absolute;
        left: 800px;
        bottom: 50px;
        display: block;
        width: 30px;
        height: 30px;
     }

     .hang-b svg{
        width: 50px ;
        height: 47px ;
    }

     .dash{
        position: absolute;
        left: 820px;
        bottom: 20px;
        /* display: block; */
        width: 30px;
        height: 30px;
      }

     


    .nav-logo{
        width: 800px;
        font-size: 55px;
        margin-top: 190px;
    }

   .mas{
       font-size: 40px;
   }

    .mas span svg{
        width: 180px;
        height: 30px;
        font-size: 30px;
    }

     .map{
         font-size: 45px;
     }

     .root{
         font-size: 55px;
     }

  .note{
      position: relative;
      bottom: 590px;
      width: 240px;
      height: 80px;
      font-size:30px;
      
  }
     
     .note  span svg{
         width: 25px;
         height: 35px;
         margin-left:  20px;
     }
     

   .footer h1{
    font-size: 50px;
  }

  .link{
      font-size:40px;
      margin: 0 100px;
       height:30px ;
       width:90px ;
    
     
  }

  .foot{
      font-size: 40px;
    
  }
       
   
   .foods{
      padding-left: 130px;
      width: 800px;
      font-size: 45px;
      padding-top: 395px;
   }

}