*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    cursor: pointer;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.market-background {
    background-color:#ffff;
    height: 77px;
    width: 100%;
    position: fixed ;
    top: 0;
    left: 0;
    z-index: 999;
}

.container-content{
 display: flex;
 justify-content: space-between;
 
}

.icons{
    margin-top: 18px;
    height: 40px;
    width: 40px;
}

.icons svg{
    position: relative;
    left: 60px;
}







.container-nav{
 width: 100%;
 height: 77px;
 display: flex;
justify-content: space-between;

}

.container-logo  {
    margin-top: 10px;
    margin-left: px;
}




.dash{
    display: none;
}

 .hang-b{
    display:none ;
 } 



.container-logo span {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 50px;
    height: 30px;
    background: white;
}

.container-logo span::before {
   position: absolute;
   top: 20px;
   right: 35px;
} 

.container-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: Roboto;
}


.container-nav ul li a{
    padding: 20px;
    text-decoration: none;
} 

 

.top{
    padding-top: 33px;
    width: 144px;
    height: 82px;
    position: relative;
    background: rgba(179, 29, 21, 0.04); 
}

.top a{
    margin-left: 5px;
    color:#FF473E;
}


.rest:hover{
 color:#FF473E ;
 background: rgba(255, 71, 62, 0.04);
 width: 144px;
 height: 77px;
 padding: 30px;
 margin-left: 9px;
}

.bar:hover{
    color:#FF473E ;
    background: rgba(255, 71, 62, 0.04);
    width: 144px;
    height: 77px;
    padding: 30px;
}

.story:hover{
    color:#FF473E ;
    background: rgba(255, 71, 62, 0.04);
    width: 144px;
    height: 77px;
    padding: 30px;
}

/* btn */
.btn {
    position: relative;
    top: 30px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 100%;
   /* color: #ffff; */
}


.btn span::before {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 30px;
}
.btn span p {
    color: #ffff;
    padding-left: 5px;
}

/* Header */


.nav-logo{
    margin-top: 130px;
    font-size: 64px;
    font-style: normal;
    font-weight: normal;
    font-family: Inter;

}

.nav-logo h1 {
    width: 100%;
    font-family: Inter;
    font-size: 64px;

}

.nav-logo span{
    color: #FF473E;
}


.rate svg{
    width: 20px;
    height: 15px;
    margin-left: 30px;
    position: relative;
    top: 20px;
    margin-left: 45px;
}

.rate select{
    margin-left: 70px;
    width: 210px;
    height: 20px;
    border: none;
    font-size: 17px;
    font-family: Inter;
    outline: none;
}


.saver select{
    margin-left: 75px;
    width: 180px ;
    height: 20px;
    margin-bottom: 90px;
    border: none;
    font-size:17px ;
    font-family: Inter;
    outline: none;
}




.saver svg{
    width: 60px;
    height: 15px;
    margin-left: 30px;
    position: relative;
    top: 20px;
}

.header{
    margin-left: 70px;
    width: 200px;
    height: 60px;
    border-radius: 999px;
    background:#FF473E ;
    border: none;
    font-size: 16px;
    font-family: Inter;
}

.header a{
    text-decoration: none;
    color: #ffffff;
}

.container-navbar ul {
    display:flex;
    background: #ffff;
    width: 750px;
    height: 60px;
    border-radius: 999px;
    list-style: none;
    margin-top: 40px;
}


.container-logo{
width: 50px;
height: 50px;
}







/* categories */

.categories ul{
    width: 100%;
    display: flex;
    margin-top: 100px;
    /* padding-left: 60px; */
}

.categories ul li{
list-style: none;


}

.categories ul li a{
    text-decoration: none;
}

.all{
padding-top: 3px;  
}

.all a { 
padding: 15px;
color: #000000;
font-size: 20px;
}


.vege a{
padding: 15px;
color: #FF473E;
width: 128px;
height: 38px;
background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
border-radius: 5px;
font-size: 20px;
}

.spices a{
    padding: 15px;
    color: #000000;
    font-size: 20px;
}

.spices a:hover{
    width: 128px;
    height: 38px;
    color: #FF473E;
    background:#ffff ;
    border-radius: 5px;
    margin-left: 6px;
}

.fruits a{
    padding: 15px;
    color: #000000;
    font-size: 20px;
}

.fruits a:hover{
    border-radius: 5px;
    color: #FF473E;
    background:#ffff ;
}

.tube a{
    padding:15px ;
    color: #000000;
    font-size: 20px;
}

.tube a:hover{
    border-radius: 5px;
    color: #FF473E;
    background:#ffff ;
}

.palm a{
    padding: 15px;
    color: #000000;
    font-size: 20px;
}

.palm a:hover{
    border-radius: 5px;
    color: #FF473E;
    background:#ffff ;
}

/* ITEMS */


  .item {
      width: 253px;
      height: 157px;
  }
  
  .item{
  background:#ffff;
   flex-basis:1;
   margin: 17px 17px;
   border-radius: 10px;
   width: 252px;
   height: 300px;
  
  }
  
  .root{
      margin-left: 20px;
      margin-top: 15px;
      color: #64688D;
      font-size: 16px;
  }
  
    .note{
        background: #00000080;
        border-radius: 99px;
        width: 98px;
        height: 32px;
        padding: 9px 7px;
        margin-left: 27px;
        color: #fff;
        position: relative;
        bottom:185px ;
        font-size: 11px;
    }

    .note span svg{
        width: 17px;
        height: 13px;
        position: relative;
        top: 1px;

    }

    

    .mapo{
        position: relative;
        bottom:  5px;
        color: #64688D;
        margin-top: 15px;
        padding:  17px;
        border-top: 1px solid;
        font-family: Inter;
    }

     .masu{
          color: #64688D; 
          font-family: Inter;
     }

    .masu span svg{
        width: 90px;
        height: 13px;
        margin-left: 10px;
    }

   .content-item{
       display: flex;
       flex-wrap: wrap;
       margin-top: 70px;
   }

   .link{
       text-align: center;
       margin-top: 20px;
   }
  
  
/* footer */

#footer{
    background: #ffff;
     height: 330px;
     margin-top: 200px;
     font-size: 14px;
     font-family:Roboto ;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
}

.one-items{
    display: flex;

}

.one-items li{
    margin: 0 10px;
}

.two-items{
    display: flex;
}

.two-items li{
    margin: 0 10px;
}

.third-items{
    display: flex;
}

.third-items li{
    margin: 0 10px;
}


.first-items{
    list-style: none;
    margin-top: 40px;
    font-family: Inter;
    font-size: 14px;
    color: #8588A3;

    
}

.first-items li{
    padding: 10px 0;
}

.first-items li a{
 text-decoration: none;

}

.ssd{
    padding: 0 10px;
}


.api{
    padding: 0 10px;
}

.font{
    padding: 0 10px ;
}

.content-footer{
    margin-top: 40px;
}


.foods{
text-align: center;
padding-top: 60px;
font-size: 16px;
padding-bottom: 30px;
}


.mp3{
    position: relative;
    right:-40px ;
    top: 30px;
    /* background: red; */
    height: 5px;
}

.mp3 svg{
    height:10px;
    width: 15px;
}



/* frame */


.icons:hover  .ico{
    width: 373px;
    height: 920px;
    display: block;
    /* overflow-y: scroll; */
}

.ico{
    margin-top: 2px;
    display: none;
    overflow-y: scroll;
    width: 1500px;
    height: 749px;
    margin-left: -140px;
}


.frame{
    display: flex;
  
    
}

.content{
    overflow-y: scroll;
    /* width: 200px; */
}

.your{
    margin-top: 40px;
    padding-left: 20px;
    color: #64688D;

}

.frame-background{
    background: #ffffff;
    width: 400px;
    height: 2090px; 
   
    
}

.pumpkin{
    
}


.frame svg{
    /* position: absolute; */
    margin-left:80px ;
     margin-top: 50px;
}

#pink{
    border: 1px solid #F5F7FD;
    display: flex;
    width: 370px;
    height: 60px;
    margin-top: 30px;
    padding-left: 30px;
    color: #4A4C65;
    font-size: 20px;
    padding: 20px ;
   
}




#pin{
    display: flex;
    margin-top: 40px;
    padding-left: 30px;
    border: 1px solid #F5F7FD;
    width: 370px;
    padding: 20px ;
    font-size: 20px;
    height: 60px;
    color: #4A4C65;
    

}

.one{
    padding-left: 40px;
    color: #4A4C65;

}

.naira{
    padding-left: 60px;
    color: #4A4C65;
}

.time{
    margin-top: 60px;
    color: #64688D;
    padding-left: 20px;

}

.today{
    padding-left: 20px;
    margin-top: 40px;
    background: #FBFCFF;

    width: 290px;
    height: 50px;
    margin-left: 20px;
    border-radius: 999px;
   
}

.today select{
    width: 220px;
    height: 30px;
    margin-top: 10px;
    margin-left: 60px;
    background: #FBFCFF;
    border: none;
    font-size: 15px;
    color: #64688D;
    
}

.today svg{
    /* position: absolute; */
    margin-left: -60px;
    margin-top: 18px;
}

.today h2{
    padding-left: 30px;
    margin-top: -15px;
    font-size: 15px;
    color: #64688D;

}

.total{
    margin-top: 70px;
    padding-left: 20px;
    color: #64688D;

}

.pay{
    text-align: center;
    margin-top: 70px;
    background: #FFFFFF;
    width: 290px;
    height: 50px;
    color: #64688D;
    margin-left: 20px;
    border-radius: 999px;
    padding: 15px;
    border: 1px solid #F2F6FE;
}

.card{
    margin-top: 70px;
    padding-left: 20px;
    color: #64688D;

}

.number{
    margin-top: 20px;
    background: #FBFCFF;
    width: 290px;
    height: 50px;
    color: #64688D;
    margin-left: 20px;
    border-radius: 999px;
    padding: 15px 20px ;
}

.number svg{
    position: relative;
    bottom:  70px;
    margin-left: 170px;
}

.vali{
    display: flex;
    margin-top: 40px;
    padding-left: 40px;
    color: #64688D;
}

.cvv{
    padding-left: 150px;
}


.mm{
    display: flex;
    margin-top: 40px;
    padding-left: 40px;
    color: #64688D;
}

.mmyy{
    background: #FBFCFF;
    width: 136px;
    height: 44px;
    border-radius: 999px;
    padding-left: 20px;
    padding-top: 10px;

}

.mm svg{
    position: absolute;
    margin-left: -165px;
    margin-top: 15px;
}

.yy{
    padding-left: 20px;
    background: #FBFCFF;
    margin-left: 60px;
    border-radius: 999px;
    width: 80px;
    padding-top: 10px;
}

.check{
    text-align: center;
    margin-top: 50px;
    width: 290px;
    height: 55px;
    padding-top: 15px;
    margin-left: 30px;
    background: #FF473E;
    color: #FFFFFF;
    border-radius: 999px;
}

.main svg{
     
     margin-left: -300px; 
     margin-top: 30px;
     
}


.main h1{
    width: 290px;
    font-size: 30px;
    position: relative;
    bottom: 200px;
    color: #fff;
    padding-left: 50px;

}


.main img{
    margin-top: 30px;
    padding-left: 20px;
    width: 320px;
    height: 370px;

}


 .bbm{
     margin-top: 80px;
     position: sticky;
     width: 270px;
     font-size: 15px;
     padding-left: 40px;
     color: #fff;
 }

 


